[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
spacy = "*"
scikit-learn = "*"
pypdf2 = "*"
openai = "*"
assemblyai = "*"
yagmail = "*"
streamlit-option-menu = "*"
openpyxl = "*"
flask = "*"
ibm-watson = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
